

.side-bar{
  width: 220px;
  background-color: #fff;
  height: 100%;
  position: inherit;
  top: 0;
  left: 0;

  .logo{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    height: 10vh;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
