

.side-bar{
  width: 220px;
  background-color: #fff;
  height: 100vh;
  position: inherit;
  top: 0;
  left: 0;

  .logo{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    height: 68px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-lateral{
    height: calc(100% - 68px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
