<div class="content">
  <div class="top-container">
    <div class="container-1">
      <div>
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
          Campinas/SP </h2>
        <div><img src="/assets/img/Flyer.png" alt=""></div>
      </div>
      </div>


    <div class="container-2">

        <div>
          <button id="download" class="btn-orange"> <img src="/assets/img/downloadbtn.svg" alt="" > Download</button>
          <button class="btn-orange"><img src="/assets/img/star.svg" alt=""></button>
          <button class="btn-orange"><img src="/assets/img/doi.svg" alt=""></button>
        </div>
         <h3>COMO CITAR ESSE TRABALHO?</h3>
         <div class="detalhes">

          <div>
            <h2 class="bg-rosa">Detalhes</h2>
            <p>Tipo de Apresentação:<span>Pôster</span> </p>
            <p>Eixo temático: <span>Alimentação e saúde (AS)</span></p>
            <p>Palavras-chave: <span>Alimentos funcionais, alimentação escolar.</span></p>

            <p><strong>Autores:</strong></p>
            <ul style="list-style: none; padding: 0; margin: 0;">
              <li>Galileo Galilei<sup>1</sup></li>
              <li>Berta Lange de Morretes<sup>2</sup></li>
              <li>Isaac Newton<sup>3</sup></li>
              <li>Cesar Lattes<sup>1</sup></li>
              <li>Stephen Hawking<sup>4</sup></li>
            </ul>

            <p>Universidades:</p>
            <ul style="list-style: none; padding: 0; margin: 0;color:#ADA0A0;">
              <li><sup>1</sup>Universidade Estadual de Campinas</li>
              <li><sup>2</sup>Universidade de São Paulo</li>
              <li><sup>3</sup>Instituto Nacional de Pesquisas Espaciais</li>
              <li><sup>4</sup>Universidade Federal do Rio de Janeiro</li>
            </ul>
          </div>


      </div>
    </div>
  </div>
  <div class="resumo lines">
    <h2 class="bg-rosa">Resumo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
      turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies
      gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra
      lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus.
      Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo
      condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac
      gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant... <span id="vermais">Ver mais</span></p>
  </div>
  <h2 class="bg-rosa">Discussões</h2>
  <div class="discursao">
    <div class="discursao-container" *ngIf="mostrarPrimeiroContainer">
      <h2 class="orange">Compartilhe suas ideias ou dúvidas com os autores!</h2>
      <div>
        <img src="/assets/img/icon1.svg" alt="">
        <img src="/assets/img/icon2.svg" alt="">
        <img src="/assets/img/icon3.svg" alt="">
      </div>
      <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos
        ou sugestões para o autor!</p>
      <div *ngIf="mostrarInformacoes">
        <p>{{ informacaoExibida }}</p>
      </div>
      <button (click)="toggleInformacao()" class="btn-orange">Criar tópico</button>
    </div>

    <div class="discursao-container" *ngIf="!mostrarPrimeiroContainer">
      <label for="">Assunto</label>
      <input type="text">
      <label for="">Conteúdo</label>
      <textarea rows="5" cols="30" formControlName="text"> </textarea>
      <button class="btn-orange">Enviar</button>
    </div>
    <div class="perguntas lines">
      <div>
        <h3 class="orange">Assunto da pergunta aparece aqui</h3>
        <p>Carlos Henrique Santos</p>
      </div>
      <div>
        <div>
          <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo processo...</p>
        </div>
        <div class="more-like" >
          <img src="/assets/img/moreinfo.svg" alt="">
          <button class="btn-orange"><img src="/assets/img/heart.svg" alt=""></button>
          <p >1 like</p>
          <p>1 resposta</p>
        </div>

      </div>

    </div>
    <div></div>
  </div>
</div>
