<div>
  <div><div>
    <div> <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2></div>
    <div>
     <div><button> <img src="/assets/img/downloadbtn.svg" alt=""> Download</button>
       <button  width ="43px"><img src="/assets/img/star.svg" alt=""></button>
       <button>doi</button>
     </div>
     <div>
       <p>COMO CITAR ESSE TRABALHO?</p>
     </div>
    </div>

   </div>
   <div>
     <div><img src="/assets/img/Flyer.png" alt=""></div>
     <div>
       <div><h2>Detalhes</h2>
         <div><p>Tipo de Apresentação: Pôster
           Eixo temático: Alimentação e saúde (AS)
           Palavras-chaves: Alimentos funcionais, alimentação escolar.

           Autores:
           Galileo Galilei¹
           Berta Lange de Morretes²
           Isaac Newton³
           Cesar Lattes¹
           Stephen Hawking⁴

            ¹Universidade Estadual de Campinas
           ²Universidade de São Paulo
           ³Instituto Nacional de Pesquisas Espaciais
           ⁴Universidade Federal do Rio de Janeiro</p></div>
     </div>

   </div>
   </div></div>
  <div><h2>Resumo</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant... ver mais</p>
  </div>
  <div>
    <h2>Discussões</h2>
    <div>
      <h2>Compartilhe suas ideias ou dúvidas com os autores!</h2>
      <img src="/assets/img/icon1.svg" alt="">
      <img src="/assets/img/icon2.svg" alt="">
      <img src="/assets/img/icon3.svg" alt="">
      <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
      <button>Criar tópico</button>
    </div>
    <div>
      <div>
        <h3>Assunto da pergunta aparece aqui</h3>
        <p>Carlos Henrique Santos</p>
      </div>
      <div>
        <div><p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p></div>
        <div>
          <img src="/assets/img/moreinfo.svg" alt="">
          <button><img src="/assets/img/heart.svg" alt=""></button>
          <p>1 like</p>
          <p>1 resposta</p>
        </div>

      </div>

    </div>
    <div></div>
  </div>
</div>
