.content {
  .top-container {
    display: flex;
    width: fit-content;
    align-items: center; /* Centraliza os elementos horizontalmente */
    .container-1 {
      display: flex;
      width: 100%;

      img {
        width: 100%;
      }
      h2 {
        margin: 10px 0;
        font-weight: 700;
        color: #ed7839;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 0.05em;
        text-align: left;
        margin-bottom: 25px;
      }
    }

    .container-2 {
      display: flex;
      flex-direction: column;
      width: 50%;

      align-items: end;
    }

    h3 {
      color: #ed7839;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-align: right;
    }

    .detalhes {
      height: 440px;
      font-family: Quicksand;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      border: 1px solid #ececec;
      .containers {
        display: flex;

        flex-direction: column;
        width: 100%;
        div {
          margin-left: 10px;
          margin-bottom: 20px;

          span {
            font-family: Quicksand;
            font-size: 12px;
            font-weight: 700;
            line-height: 14.4px;
            letter-spacing: 0.02em;
            text-align: left;
          }
        }
      }
    }
  }
  .bg-rosa {
    height: 45px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #fdf1eb;
    font-family: Roboto;
    font-size: 20px;
    border: 1px solid #ececec;
    border-radius: 3px;
    color: #4e4e4e;
  }
  .lines {
    border: 2px solid #ececec;
  }
  .btn-create-topic,
  .enviar {
    background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 10px 0;
    margin-left: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #ed7839d1;
    }
  }
  .orange,
  .ops-topic-subject {
    color: #ed7839;
  }
  #vermais,
  .btn-show-more {
    color: #ed7839;

    cursor: pointer;
    display: block;
  }

  .btn-orange {
    background-color: #ed7839;
    cursor: pointer;
    padding: 5px;
    gap: 2px;
    border: 1px solid #ececec;
    color: #eaf1f2;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .resumo {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Quicksand;
    justify-content: flex-end;
    p {
      padding: 15px;
    }
    .expandido {
      max-height: none !important; /* Remova a restrição de altura para o texto expandido */
    }
  }
  .discursao {
    border: 2px solid #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ececec;

    .discursao-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      border: 2px solid #ececec;
      img {
        margin: 20px;
      }
    }
    div {
      padding: 15px;
    }
    .mensagem-sucesso {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40vh;
      background-color: #dddddd;
      border-radius: 4px;
      border: 1px solid #e7e7e7;
    }
    .answered-topic {
      margin: 0;
      padding: 0;
      box-shadow: 0px 0px 8px 0px #0000001f;
      border-radius: 8px;
      border: 1px solid #e7e7e7;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-stretch;

      .comments-container {
        background-color: #f8f8f8;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        div {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .more-like {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #4e4e4e;
      .moreinfo {
        background-color: none;
      }
    }
    .discursao-container-2 {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: stretch;
      .texto-center {
        margin: 0 auto;
      }
      .novo-assunto {
        display: flex;
        flex-direction: column;
        font-weight: 700;
      }
      input,
      textarea {
        width: 100%;
        height: max-content;
      }

      .div-btn {
        display: flex;
        background-color: #eaf1f2;
        height: 30px;
        align-items: center;
        justify-content: flex-end;
        .enviar {
          padding-right: 10%;
          text-align: center;
        }
      }
    }
  }
}
